{% extends 'rango/base.html' %}

{% block title %}Rango- Login{% endblock %}

{% block body_block %}
	<div class="hero-unit">
		<h1>Login to Rango</h1>
		<div class="container">
		<form class = "form-signin span4" id="login_form" method = "post" action="/rango/login/">
			<h2 class="form-signin-heading">Please Login</h2>
			{% csrf_token %}

			{% if bad_details %}
			<p><font color="FF0000"> Your username and/or password were incorrect. Please try again </font></p>

			{% elif disabled_account %}
			<p><strong>Your account has been disabled </strong></p>
			{% endif %}
			Username: <input class="input-block-level" placeholder="Username" type="text" name = "username" value="" size="50"/>
			<br/>
			Password: <input class="input-block-level" placeholder="Password" type="text" name = "password" value="" size="50"/>
			<br/>

			<input class="btn btn-primary" type="submit" value="submit"/>
		</form>
	</div>
	</div>
{% endblock %}